<div class="payment-container">
    <h1>Pagar Producto</h1>
    <div class="interactive-container">
        <div class="product-description">
            <h2>Descripción del Producto</h2>
            <p>Nombre del producto.</p>
            <p>img</p>
            <p>Descripción del producto.</p>
            <p>Precio del producto.</p>
            <p>Nombre del vendedor.</p>
            <p>Dirección del vendedor.</p>
            <p>Teléfono del vendedor.</p>
        </div>
          <div class="payment-method">
            <h2>Método de pago</h2>
            <p>Seleccione el método de pago que desea utilizar para completar su compra.</p>
            <fieldset>
                <legend>Opciones de Pago</legend>
                <div>
                    <input type="radio" id="cash" name="payment-method" value="cash" 
                           [(ngModel)]="selectedPaymentMethod" 
                           (change)="onPaymentMethodChange('cash')">
                    <label for="cash">Efectivo</label>
                </div>
                <div>
                    <input type="radio" id="paypal" name="payment-method" value="paypal"
                           [(ngModel)]="selectedPaymentMethod" 
                           (change)="onPaymentMethodChange('paypal')">
                    <label for="paypal">PayPal</label>
                </div>
                <div>
                    <input type="radio" id="Stripe-pay" name="payment-method" value="Stripe-pay"
                           [(ngModel)]="selectedPaymentMethod" 
                           (change)="onPaymentMethodChange('Stripe-pay')">
                    <label for="Stripe-pay">Stripe Pay</label>
                </div>
            </fieldset>

            <!-- Sección para mostrar el módulo correspondiente -->
            <div class="payment-module" *ngIf="selectedPaymentMethod">
                <div *ngIf="selectedPaymentMethod === 'cash'" class="payment-option">
                    <h3>Pago en Efectivo</h3>
                    <app-efectivo></app-efectivo>
                </div>
                
                <div *ngIf="selectedPaymentMethod === 'paypal'" class="payment-option">
                    <h3>Pago con PayPal</h3>
                    <app-paypal></app-paypal>
                </div>
                
                <div *ngIf="selectedPaymentMethod === 'Stripe-pay'" class="payment-option">
                    <h3>Pago con Stripe Checkout</h3>
                    <app-stripe-checkout></app-stripe-checkout>
                </div>
            </div>
        </div>
    </div>


</div>