<div class="product-card">
    <div class="card-main">
        <div class="img-card">
            <img [src]="urlImg" alt="img">
        </div>
        <h3>{{ (title || 'product name') | truncate:20 }}</h3>
    </div>
    <div class="card-text">
        <div class="seller">{{`${sellerName}` | truncate}}</div>
        <h3>{{`$${price}`}}</h3>
        <a (click)="opden()" class="btn btn-white">
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Comprar</span>
            </div>
        </a>
    </div>
    <!--Fondo De imagen-->
    <div class="background">
        <img [src]="urlImg" alt="img">
    </div>
</div>