<!-- Main container -->
<div class="cards-container">
  <!-- Card Ventas -->
  <div class="card">
    <div class="card-header">
      <p class="card-text">Ventas del mes</p>
    </div>
    <p class="card-value">$1000</p>
    <p class="card-text">Some text</p>
  </div>

  <!-- Card Pedidos -->
  <div class="card">
    <div class="card-header">
      <p class="card-text">Pedidos Pendientes</p>
    </div>
    <p class="card-value">1000</p>
    <p class="card-text">Some text</p>
  </div>

  <!-- Card Productos -->
  <div class="card">
    <div class="card-header">
      <p class="card-text">Publicaciones activas</p>
    </div>
    <p class="card-value">1000</p>
    <p class="card-text">Some text</p>
  </div>
</div>

<!-- Pedidos and Post Container -->
<div class="second-container">
  <div class="pedidos-container">
    <div class="card">
      <p class="client-name">María Olivar</p>
      <div class="detail-pedido">
        <p>
          <span class="label">Fecha:</span>
          <span class="value">03/06/2025</span>
        </p>
        <p>
          <span class="label">Publicación:</span>
          <span class="value">Zapatillas Nike</span>
        </p>
        <p>
          <span class="label">Monto:</span>
          <span class="value">$150.00</span>
        </p>
      </div>
      <button class="btn-ver">Ver detalle</button>
    </div>

  </div>

  <div class="posts-container">
    <div class="card">

      <div class="detail-pedido">
        <p>
          <span class="label">ID: 897755</span>
          <span class="value">Título Post</span>
        </p>
        <p>
          <span class="label">Fecha:</span>
          <span class="value">03/06/2025</span>
        </p>
      </div>
      <button class="btn-ver" routerLink="/post-detail" >Ver detalle</button>
    </div>
  </div>
</div>
