<div class="hero container full-page-center">
    <!-- Texto Base -->
    <div class="hero-text">
        <h1 id="title" data-aos="fade-up">
            <span>Empieza hoy</span>
        </h1>
        <h3 id="subtitle" data-aos="fade-up">
            <span>Entérate de nuestros beneficios y preguntas frecuentes.</span>
        </h3>
    </div>
    <!-- Filtro de color: Video -->
    <div class="video-filter"></div>
    <!-- Video de fondo -->
    <video autoplay muted loop class="hero-video">
        <source src="../../../../assets/vid/backVideo.mp4" type="video/mp4" />
    </video>
</div>

<!-- TODOS: ELEMENTOS-->
<div class="page-full">
    <section>
        <!-- ? benefits-->
        <div class="benefits-grid container">
            <div data-aos="fade-up" data-aos-duration="1000" class="benefit-item">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Alcance nacional</h3>
                <p>Mostrá tus productos a todo El Salvador, sin salir de casa.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" class="benefit-item">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h3>Cobrales directo</h3>
                <p>Recibí tu dinero sin líos ni intermediarios.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="600" class="benefit-item">
                <i class="fa-solid fa-disease"></i>
                <h3>Sin complicaciones</h3>
                <p>Creá tu tienda gratis y empezá a recibir pedidos en minutos.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="400" class="benefit-item">
                <i class="fa-regular fa-heart"></i>
                <h3>Comunidad</h3>
                <p>Unite a una red de gente pilas como vos que quiere crecer.</p>
            </div>
        </div>
        <!-- ? faq-section-->
        <div class="faq-section container">
            <h2>Preguntas frecuentes</h2>
            <div>
                <details data-aos="fade-up" data-aos-duration="1000" class="faq-item">
                    <summary>¿Cómo puedo comprar un producto?</summary>
                    <p>Para comprar un producto, simplemente navega por nuestra tienda, selecciona los artículos que
                        deseas y agrégalos a tu carrito. Luego, procede al pago, completa tus datos de envío y elige tu
                        método de pago preferido. ¡Es así de fácil!</p>
                </details>
                <details data-aos="fade-up" data-aos-duration="800" class="faq-item">
                    <summary>¿Hacen entregas?</summary>
                    <p>Sí, realizamos entregas a domicilio en la mayoría de las áreas. Puedes verificar la
                        disponibilidad de entrega para tu ubicación durante el proceso de compra ingresando tu
                        dirección. Los costos y tiempos de entrega varían según la zona.</p>
                </details>
                <details data-aos="fade-up" data-aos-duration="600" class="faq-item">
                    <summary>¿Aceptan devoluciones?</summary>
                    <p>Aceptamos devoluciones bajo ciertas condiciones. Si recibiste un producto dañado o incorrecto,
                        por favor contáctanos dentro de las 48 horas posteriores a la recepción. Para más detalles,
                        consulta nuestra política de devoluciones en el sitio web.</p>
                </details>
            </div>
        </div>
    </section>
</div>