<div class="hero container full-page-center">
    <!-- Texto Base -->
    <div class="hero-text border">
        <h1 id="title" data-aos="fade-up">
            <span>Whislist</span>
        </h1>
        <h3 id="subtitle" data-aos="fade-up">
            <span>Entérate de nuestros beneficios y preguntas frecuentes.</span>
        </h3>
    </div>
    <!-- Filtro de color: Video -->
    <div class="video-filter"></div>
    <!-- Video de fondo -->
    <video autoplay muted loop class="hero-video">
        <source src="../../../../assets/vid/backVideo.mp4" type="video/mp4" />
    </video>
</div>

<!-- Contenedor principal del carrito -->
<section class="container">
    <div class="cart-container">
        <!-- Encabezado del carrito con título y total -->
        <div class="cart-header">
            <div>
                <h1 class="cart-title">Lista de deseos</h1>
                <p class="cart-info"> 3 items</p>
            </div>
            <div class="text-right">
                <p class="cart-total-label">Total</p>
                <p class="cart-total">$4,497</p>
            </div>
        </div>

        <!-- Contenedor de los productos -->
        <div class="products-container">
            <!-- Producto 1 -->
            <div class="product-item">
                <div class="product-icons">
                    <a href="" class="btn btn-white">
                        <i class="fas fa-heart wishlist-icon"></i>
                    </a>
                    <a href="" class="btn btn-white">
                        <i class="fas fa-share-alt share-icon"></i>
                    </a>
                </div>

                <div class="product-details">
                    <img src="../../../../assets/img/products.jpg" alt="Imagen de Producto 1" class="product-image" />
                    <div>
                        <h2 class="product-title">Chaqueta bordada</h2>
                        <p class="product-seller">Eduardo Martinez</p>
                        <p class="product-description">
                            Chaqueta bordada para caballero, confeccionada con telas de alta
                            calidad que ofrecen comodidad y durabilidad. Destaca por sus
                            detalles bordados finos y elegantes que aportan un toque
                            sofisticado y único, ideal para ocasiones especiales o para un
                            estilo casual con personalidad. Su diseño combina tradición y
                            modernidad, realzando la figura masculina con un ajuste
                            perfecto.
                        </p>
                    </div>
                </div>
                <div class="product-actions">
                    <p class="product-price"> Precio:$1,499</p>
                    <div>
                        <a class="btn btn-primary">
                            <div><span>Agregar al carrito</span><i class="fas fa-cart-plus"></i></div>
                        </a>
                        <a class="btn btn-delete">
                            <div><i class="fa-solid fa-trash"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="product-item">
                <div class="product-icons">
                    <a href="" class="btn btn-white">
                        <i class="fas fa-heart wishlist-icon"></i>
                    </a>
                    <a href="" class="btn btn-white">
                        <i class="fas fa-share-alt share-icon"></i>
                    </a>
                </div>

                <div class="product-details">
                    <img src="../../../../assets/img/products.jpg" alt="Imagen de Producto 1" class="product-image" />
                    <div>
                        <h2 class="product-title">Chaqueta bordada</h2>
                        <p class="product-seller">Eduardo Martinez</p>
                        <p class="product-description">
                            Chaqueta bordada para caballero, confeccionada con telas de alta
                            calidad que ofrecen comodidad y durabilidad. Destaca por sus
                            detalles bordados finos y elegantes que aportan un toque
                            sofisticado y único, ideal para ocasiones especiales o para un
                            estilo casual con personalidad. Su diseño combina tradición y
                            modernidad, realzando la figura masculina con un ajuste
                            perfecto.
                        </p>
                    </div>
                </div>
                <div class="product-actions">
                    <p class="product-price"> Precio:$1,499</p>
                    <div>
                        <a class="btn btn-primary">
                            <div><span>Agregar al carrito</span><i class="fas fa-cart-plus"></i></div>
                        </a>
                        <a class="btn btn-delete">
                            <div><i class="fa-solid fa-trash"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="product-item">
                <div class="product-icons">
                    <a href="" class="btn btn-white">
                        <i class="fas fa-heart wishlist-icon"></i>
                    </a>
                    <a href="" class="btn btn-white">
                        <i class="fas fa-share-alt share-icon"></i>
                    </a>
                </div>

                <div class="product-details">
                    <img src="../../../../assets/img/products.jpg" alt="Imagen de Producto 1" class="product-image" />
                    <div>
                        <h2 class="product-title">Chaqueta bordada</h2>
                        <p class="product-seller">Eduardo Martinez</p>
                        <p class="product-description">
                            Chaqueta bordada para caballero, confeccionada con telas de alta
                            calidad que ofrecen comodidad y durabilidad. Destaca por sus
                            detalles bordados finos y elegantes que aportan un toque
                            sofisticado y único, ideal para ocasiones especiales o para un
                            estilo casual con personalidad. Su diseño combina tradición y
                            modernidad, realzando la figura masculina con un ajuste
                            perfecto.
                        </p>
                    </div>
                </div>
                <div class="product-actions">
                    <p class="product-price"> Precio:$1,499</p>
                    <div>
                        <a class="btn btn-primary">
                            <div><span>Agregar al carrito</span><i class="fas fa-cart-plus"></i></div>
                        </a>
                        <a class="btn btn-delete">
                            <div><i class="fa-solid fa-trash"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="product-item">
                <div class="product-icons">
                    <a href="" class="btn btn-white">
                        <i class="fas fa-heart wishlist-icon"></i>
                    </a>
                    <a href="" class="btn btn-white">
                        <i class="fas fa-share-alt share-icon"></i>
                    </a>
                </div>

                <div class="product-details">
                    <img src="../../../../assets/img/products.jpg" alt="Imagen de Producto 1" class="product-image" />
                    <div>
                        <h2 class="product-title">Chaqueta bordada</h2>
                        <p class="product-seller">Eduardo Martinez</p>
                        <p class="product-description">
                            Chaqueta bordada para caballero, confeccionada con telas de alta
                            calidad que ofrecen comodidad y durabilidad. Destaca por sus
                            detalles bordados finos y elegantes que aportan un toque
                            sofisticado y único, ideal para ocasiones especiales o para un
                            estilo casual con personalidad. Su diseño combina tradición y
                            modernidad, realzando la figura masculina con un ajuste
                            perfecto.
                        </p>
                    </div>
                </div>
                <div class="product-actions">
                    <p class="product-price"> Precio:$1,499</p>
                    <div>
                        <a class="btn btn-primary">
                            <div><span>Agregar al carrito</span><i class="fas fa-cart-plus"></i></div>
                        </a>
                        <a class="btn btn-delete">
                            <div><i class="fa-solid fa-trash"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie de página del carrito con continuar comprando y botón de pago -->
        <div class="cart-footer">
            <a class="btn btn-black">
                <div><span>Agregar Más</span><i class="fa-solid fa-cart-plus"></i></div>
            </a>
        </div>
    </div>
</section>