<div class="user-section">
    <span class="title">Cambio de Contraseña</span>
    <div class="content">
        <div class="input">
            <span>Contraseña</span>
            <div class="text-box">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="password" type="password" placeholder="contraseña">
                <a class="btn-password" appTogglePassword>
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="input">
            <span>Repertir Contraseña</span>
            <div class="text-box">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="repeatPassword" type="password" placeholder="contraseña">
                <a class="btn-password" appTogglePassword>
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="msg">
            <span class="info">Contaseña mayor de 8 caracteres, mayúsculas,
                minúsculas,
                número y
                símbolo.</span>
            @if (userForm.invalid && userForm.touched) {
            @for (error of formErrors; track error) {
            <span class="error">{{ error }}</span>
            }
            }
        </div>

    </div>
</div>