<div class="full-page-center">
    <div class=" container hero">
        <div class="hero-text">
            <h1 id="title">
                <span>Tu mercado digital</span>
            </h1>
            <h3 id="subtitle">
                <span>
                    comprá como te gusta. Apoya como se debe.
                </span>
            </h3>
        </div>
        <div class="hero-option slide-up">
            <div class="left">
                <a href="" class="btn btn-primary">
                    <div>
                        Categorías
                    </div>
                </a>
                <a href="" class="btn btn-primary">
                    <div>
                        Comercios
                    </div>
                </a>
                <a href="" class="btn btn-primary">
                    <div>Comercios</div>
                </a>
            </div>
            <div class="rigth">
                <div class="filter">
                    <div class="item">
                        <span>filtro</span>
                    </div>
                </div>
                <a href="" class="btn btn-green">Borrar Filtros</a>
            </div>
        </div>
    </div>
</div>
<div class="shop">
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>
    <div class="item-shop">
        <div class="item-img">
            <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="text">
            <div class="seller">
                <span>Juan Marcos</span>
            </div>
            <p>Titulo del productos</p>
            <h3>$20.00</h3>
        </div>
    </div>

</div>