<div class="hero container full-page-center">
    <!-- Texto Base -->
    <div class="hero-text border">
        <h1 id="title" data-aos="fade-up">
            <span>¿Dinero?</span>
        </h1>
        <h3 id="subtitle" data-aos="fade-up">
            <span>comprá facil. Compra a tu manera.</span>
        </h3>
        <div class="action" data-aos="fade-up">
            <a [routerLink]="['/shop']" routerLinkActive="router-link-active" class="btn btn-primary">
                <div>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span>Comprar</span>
                </div>
            </a>
            <a href="" class="btn btn-primary">
                <div>
                    <i class="fa-solid fa-shop"></i>
                    <span>Vender</span>
                </div>
            </a>
        </div>
    </div>

    <div class="video-filter"></div>
    <!-- Video de fondo -->
    <video autoplay muted loop class="hero-video">
        <source src="../../../../assets/vid/home.mp4" type="video/mp4" />
    </video>
    <a class="hero-direction">
        <i class="fa-solid fa-chevron-down"></i>
    </a>
</div>

<!-- TODOS: ELEMENTOS-->
<div class="page-full">
    <section>
        <!-- ? benefits-->
        <div class="benefits-grid container">
            <div class="benefit-item">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h3>Explorá</h3>
                <p>Vitrinea como si estuvieras en el mercado, pero desde tu cel o computadora..</p>
            </div>
            <div class="benefit-item">
                <i class="fa-solid fa-bag-shopping"></i>
                <h3>Todo en un solo lugar</h3>
                <p>Descubrí productos únicos de emprendedores salvadoreños sin salir de la app..</p>
            </div>
            <div class="benefit-item">
                <i class="fa-solid fa-comment"></i>
                <h3>Contacto directo</h3>
                <p>Hablá con el vendedor sin intermediarios, cero confusión, full claridad..</p>
            </div>
            <div class="benefit-item">
                <i class="fas fa-heart"></i>
                <h3>Apoyás lo local</h3>
                <p>Cada compra impulsa un sueño salvadoreño.</p>
            </div>
        </div>
        <!-- ? faq-section-->
        <div class="faq-section container">
            <h2>Preguntas frecuentes</h2>
            <div>
                <details class="faq-item">
                    <summary>¿Cómo puedo comprar un producto?</summary>
                    <p>Para comprar un producto, simplemente navega por nuestra tienda, selecciona los artículos que
                        deseas y agrégalos a tu carrito. Luego, procede al pago, completa tus datos de envío y elige tu
                        método de pago preferido. ¡Es así de fácil!</p>
                </details>
                <details class="faq-item">
                    <summary>¿Hacen entregas?</summary>
                    <p>Sí, realizamos entregas a domicilio en la mayoría de las áreas. Puedes verificar la
                        disponibilidad de entrega para tu ubicación durante el proceso de compra ingresando tu
                        dirección. Los costos y tiempos de entrega varían según la zona.</p>
                </details>
                <details class="faq-item">
                    <summary>¿Aceptan devoluciones?</summary>
                    <p>Aceptamos devoluciones bajo ciertas condiciones. Si recibiste un producto dañado o incorrecto,
                        por favor contáctanos dentro de las 48 horas posteriores a la recepción. Para más detalles,
                        consulta nuestra política de devoluciones en el sitio web.</p>
                </details>
            </div>
        </div>
    </section>
</div>