<div class="hero container full-page-center">
    <!-- Texto Base -->
    <div class="hero-text border">
        <h1 id="title" data-aos="fade-up">
            <span>¿Dinero?</span>
        </h1>
        <h3 id="subtitle" data-aos="fade-up">
            <span>comprá facil. Compra a tu manera.</span>
        </h3>
        <div class="action" data-aos="fade-up">
            <a [routerLink]="['/shop']" routerLinkActive="router-link-active" class="btn btn-primary">
                <div>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span>Comprar</span>
                </div>
            </a>
            <a href="" class="btn btn-primary">
                <div>
                    <i class="fa-solid fa-shop"></i>
                    <span>Vender</span>
                </div>
            </a>
        </div>
    </div>

    <div class="video-filter"></div>
    <!-- Video de fondo -->
    <video autoplay muted loop class="hero-video">
        <source src="../../../../assets/vid/home.mp4" type="video/mp4" />
    </video>
    <a class="hero-direction">
        <i class="fa-solid fa-chevron-down"></i>
    </a>
</div>
<div class="page">

    <div class="metric">
        <div class="item">
            <h1>+2000</h1>
            <h3>emprendedores</h3>
        </div>
        <div class="item">
            <h1>+2000</h1>
            <h3>emprendedores</h3>
        </div>
        <div class="item">
            <h1>+2000</h1>
            <h3>emprendedores</h3>
        </div>
        <div class="item">
            <h1>+2000</h1>
            <h3>emprendedores</h3>
        </div>
    </div>

    <div class="reviews">

        <div class="elements">
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/img/user/user.jpg">
                </div>
                <div class="item-text">
                    <p>Rossman Ramirez</p>
                    <div class="ran">
                        <i class="fa-solid fa-star"></i>
                        <span>5.0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>