<div class="container">
    <div class="main-container" data-aos="fade-up" data-aos-duration="500">
        <!-- Image side -->
        <div class="image-side">
            <!-- ! Componente dinamico de carousel -->
            <app-img-carousel></app-img-carousel>
        </div>
        <!-- Detail product side -->
        <div class="post-detail">
            <div class="post-detail-header" data-aos="fade-down" data-aos-duration="1000">
                <div class="text">
                    <div>
                        <p class="tags">Muebles</p>
                        <h1 class="post-name">Sillón Moderno Terracota</h1>
                        <p class="post-ubicacion">San Salvador, El salvador</p>
                    </div>
                    <div>
                        <h1 id="price">$100</h1>
                    </div>
                </div>
                <div class="text">
                    <div class="seller">
                        <div class="img">
                            <img src="../../../../../assets/img/user/user.jpg" alt="" srcset="">
                        </div>
                        <div class="seller-text">
                            <p>Eduardo Rodriguez</p>
                            <div class="start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="action-button">
                        <a class="btn btn-white">
                            <div>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </a>
                        <a class="btn btn-white">
                            <div>
                                <i class="fa-solid fa-share-from-square"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Detail product body -->
            <div class="post-detail-body">
                <div class="tabs-container">
                    <!-- Encabezado con las pestañas -->
                    <div class="tab-header">
                        <div class="tab-item" [class.active]="activeTab === 'description'"
                            (click)="setActiveTab('description')">
                            Descripción
                        </div>
                        <div class="tab-item" [class.active]="activeTab === 'details'"
                            (click)="setActiveTab('details')">
                            Detalles
                        </div>
                        <div class="tab-item" [class.active]="activeTab === 'comments'"
                            (click)="setActiveTab('comments')">
                            Comentarios
                        </div>
                        <!-- Línea que se mueve -->
                        <div class="tab-underline" [ngStyle]="underlineStyle"></div>
                    </div>
                    <!-- Contenido que cambia según la pestaña activa -->
                    <div class="tab-content">
                        <div *ngIf="activeTab === 'description'">
                            Este sillón tiene un diseño moderno y elegante con una forma redondeada y acolchado vertical
                            tipo canalé. Está tapizado en un material tipo terciopelo que le da un acabado suave y
                            lujoso...
                            Leer más
                        </div>
                        <div *ngIf="activeTab === 'details'">
                            Aquí irían los detalles del producto, como dimensiones, materiales, peso, etc.
                        </div>
                        <div *ngIf="activeTab === 'comments'">
                            Aquí irían los comentarios de los usuarios sobre el producto.
                        </div>
                    </div>
                </div>
                <!-- Fin botones -->
                <div class="secondary-buttons" data-aos="fade-up">
                    <a href="" class="btn btn-primary">
                        <div>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Compar</span>
                        </div>
                    </a>
                    <a href="" class="btn btn-white">
                        <div>
                            <i class="fa-solid fa-message"></i>
                            <span>contactar con vendedor</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <a (click)="onClose()" class="btn-close">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
</div>