<!-- Contenedor principal -->
<div class="main-listProducts">
  <p class="title">Agregar publicación</p>

  <!-- Línea -->
  <div class="line"></div>

  <div class="align">
    <span class="material-symbols-outlined">add_circle</span>
    <p class="title">Ver Lista de publicaciones</p>
  </div>

  <!-- Formulario -->
  <div class="form-container">
    <p class="info-title">Información de la publicación</p>
    <form class="example-form">
      <p class="form-title">Título de la publicación *</p>
      <div class="white-input">
        <input
          type="text"
          class="example-full-width"
          placeholder="Ejemplo: Silla de ruedas, Servicio de limpieza"
        />
      </div>

      <div class="row-form">
        <div>
          <p class="form-title">Categoría</p>
          <div class="white-input">
            <select class="example-full-width">
              <option value="" disabled selected>Selecciona la categoría</option>
              <option value="sillones">Sillones</option>
              <option value="mesas">Mesas</option>
              <option value="sillas">Sillas</option>
              <option value="electrodomesticos">Electrodomésticos</option>
            </select>
          </div>
        </div>

        <div>
          <p class="form-title">ID Publicación *</p>
          <div class="white-input">
            <input type="text" class="example-full-width" placeholder="" />
          </div>
        </div>
      </div>

      <div class="row-form">
        <div>
          <p class="form-title">Precio *</p>
          <div class="white-input">
            <input
              type="number"
              class="example-full-width"
              placeholder="Ingrese el precio"
            />
          </div>
        </div>

        <div>
          <p class="form-title">Estado *</p>
          <div class="white-input">
            <select class="example-full-width">
              <option value="" disabled selected>Selecciona la disponibilidad</option>
              <option value="disponible">Nuevo</option>
              <option value="no-disponible">Usado</option>
              <option value="no-disponible">No aplica</option>
            </select>
          </div>
        </div>
      </div>

      <p class="form-title">Descripción de la publicación *</p>
      <div class="white-input">
        <textarea
          class="example-full-width"
          placeholder="Describe tu publicación"
        ></textarea>
      </div>

      <p class="form-title">Galería *</p>
    </form>

    <!-- Botón alineado al centro -->
    <div class="button-container">
      <button class="save-product" (click)="mostrarAlerta()">Agregar producto</button>
    </div>
  </div>
</div>
