<div class="steps">
    <div class="step" [ngClass]="{'active':currentForm == 0}" data-aos="fade-down">
        <h1>1</h1>
    </div>
    <div class="step" [ngClass]="{'active':currentForm == 1}" data-aos="fade-down">
        <h1>2</h1>
    </div>
    <div class="step" [ngClass]="{'active':currentForm == 2}" data-aos="fade-down">
        <h1>3</h1>
    </div>
    <div class="step" [ngClass]="{'active':currentForm == 3}" data-aos="fade-down">
        <h1>4</h1>
    </div>
</div>
<!-- Selecciona creacion de usuario -->
@if (currentForm == 0) {
<app-form-user (userInfo)="saveUser($event)" (back)="onBack()" (next)="onNext()"></app-form-user>
}

<!-- Carga de imagen -->
@else if(currentForm == 1){
<app-img-selector class="modal" data-aos="fade-up" (imageUploaded)="saveImage($event)" (next)="onNext()"
    (back)="onBack()"></app-img-selector>
}

<!-- Selecciona el tipo de usuairo -->
@else if(currentForm == 2){
<app-role-selector class="modal" data-aos="fade-up" (roleSelected)="saveRol($event)" (next)="onNext()"
    (back)="onBack()"></app-role-selector>
}

@else if(currentForm == 3){
<app-terms [role]="currentRol" class="modal" data-aos="fade-up" (next)="onSave()" (back)="onBack()"></app-terms>
}