<div class="user-section">
    <span class="title">Foto de Perfil</span>
    <div class="content">
        <div class="img-content">
            <div class="img">
                <img src="../../../../../assets/img/default.jpg" alt="" srcset="">
            </div>
            <div>
                <p>Quieres cambiar tu imagen actual</p>
                <a class="btn btn-primary">
                    <div>
                        <span>Cambiar imagen</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>