@use "../../../../assets/styles/base/variables" as *;
@use "../../../../assets/styles/base/mixins" as *;


nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $mb-0-5 $mb-3;
    position: sticky;
    top: 0;
    z-index: $z-fixed;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.scrolled {
        background-color: $black;
    }

    &.top {
        background-color: transparent;
    }

    .search-input {
        width: auto;
        max-width: 400px;
        @include flex(row, flex-start, center);
        gap: $mb-0-25;
        color: $gray;
        background-color: $white-20;
        padding: $mb-0-5 $mb-1;
        border-radius: $rounder-size
    }

    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $white-100;
        font-size: 2rem;
    }

    .left {
        @include flex(row, flex-start, center);
        gap: $mb-1;
    }

    .actions {
        @include flex(row, flex-start, center);
        gap: $mb-2;
        border-radius: $rounder-size;

        a {
            font-size: $h3-font-size;
            outline: none;
            color: $white-100;
            border: none;
            cursor: pointer;
        }
    }

    .user {
        position: relative;
        color: $white-100;
        @include flex(row, flex-start, center);

        .img {
            width: 50px;
            overflow: hidden;
            border-radius: 50%;
            @include flex(row, center, center);

            img {
                width: 100%;
            }
        }
    }
}