<nav>
    <div class="actions">
        <a href="">Inicio</a>
        <a href="">Vendé</a>
        <a href="">Beneficios</a>
    </div>
    <h1>Veá</h1>
    <div class="left">
        <form action="">
            <div class="search-input">
                <i class="fa-solid fa-right-to-bracket"></i>
                <input type="text" placeholder="busca lo que quieras comprar...">
            </div>
        </form>
        <div class="actions">
            <a href="">Comprar</a>
        </div>
    </div>
</nav>