<nav data-aos="fade-down" [ngClass]="{'navbar': true, 'scrolled': isScrolled, 'top': !isScrolled}">
    <div class="actions">
        <a [routerLink]="'inicio'"  data-aos="fade-down"  data-aos-duration="1000" >Inicio</a>
        <a [routerLink]="'vender'"  data-aos="fade-down"  data-aos-duration="950" >Vendér</a>
        <a [routerLink]="'tienda'"  data-aos="fade-down"  data-aos-duration="950" >Comprar</a>
    </div>
    <h1 data-aos="fade-down"  data-aos-duration="500">Veá</h1>
    @if (userInfo) {
    <app-user-menu [user]="userInfo" (logout)="logout()"/>
    } @else {
    <div class="user left">
        <a [routerLink]="'auth/login'" class="btn btn-primary"><div><span>Inicio de sesión</span></div></a>
    </div>
    }
    
</nav>