@use "../../../../assets/styles/base/variables" as *;
@use "../../../../assets/styles/base/mixins" as *;


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 10vh;
    padding: $mb-1;

    .search-input{
        width: auto;
        max-width: 400px;
        @include flex(row, flex-start, center);
        gap: $mb-0-25;
        color: $gray;
        background-color: $white-20;
        padding: $mb-0-5 $mb-1;
        border-radius: $rounder-size
    }

    h1{
        font-size: $big-font-size
    }

    .left{
        @include flex(row, flex-start, center);
        gap: $mb-1;
    }

    .actions {
        @include flex(row, flex-start, center);
        gap: $mb-1;
        padding: $mb-1;
        border-radius: $rounder-size;
        background-color: $white-20;

        a {
            font-size: $h3-font-size;
            outline: none;
            color: $black;
            border: none;
            cursor: pointer;
        }
    }
}