<div class="hero container full-page-center">
    <!-- Texto Base -->
    <div class="hero-text">
        <h1 id="title" data-aos="fade-up">
            <span>Tu Pago Seguro y Rápido</span>
        </h1>
        <h3 id="subtitle" data-aos="fade-up">
            <span>Disfruta de promociones exclusivas y consulta nuestras preguntas frecuentes antes de pagar.</span>
        </h3>
    </div>
    <!-- Filtro de color: Video -->
    <div class="video-filter"></div>
    <img class="hero-video" src="../../../../assets/img/background/sumup-fW0TfeMWsi0-unsplash.jpg" alt="" srcset="">
    <!-- Video de fondo
    <video autoplay muted loop class="hero-video">
        <source src="../../../../assets/vid/home.mp4" type="video/mp4" />
    </video>-->
</div>
<div class="payment-container">
    <div class="interactive-container">
        <div class="modal">
            <h1>Descripción del Producto</h1>
            <div class="content">
                <div class="post-detail-header" data-aos="fade-down" data-aos-duration="1000">
                    <div class="text">
                        <div>
                            <p class="tags">{{publishing?.publishingCategories}}</p>
                            <h1 class="post-name">{{publishing?.title}}</h1>
                            <p class="post-ubicacion">{{publishing?.seller?.address}}</p>
                        </div>
                        <div>
                            <h1 id="price"> {{publishing?.price| currency:'USD':'symbol':'1.2-2' }}</h1>
                        </div>
                    </div>
                    <div class="text">
                        <div class="seller">
                            <div class="img">
                                <img src="../../../../../assets/img/user/user.jpg" alt="" srcset="">
                            </div>
                            <div class="seller-text">
                                <p>{{publishing?.seller?.user?.name}}</p>
                                <div class="start">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Detail product body -->
                <div class="post-detail-body">
                    <div class="tabs-container">
                        <!-- Encabezado con las pestañas -->
                        <div class="tab-header">
                            <div class="tab-item">Descripción</div>
                            <p>{{publishing?.description}}</p>
                            <!-- Línea que se mueve -->
                            <div class="tab-underline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal">
            <h1>Método de pago</h1>
            <div class="content">
                <span>Seleccione el método de pago que desea utilizar para completar su compra.</span>
            </div>
            <div class="form-buttons">
                <a (click)="onPaymentMethodChange('cash')" class="btn"
                    [ngClass]="selectedPaymentMethod === 'cash' ? 'btn-primary' : 'btn-secundary'">
                    <div>
                        <i class="fa-solid fa-money-bill"></i>
                        <span>Efectivo</span>
                    </div>
                </a>
                <a (click)="onPaymentMethodChange('paypal')" class="btn"
                    [ngClass]="selectedPaymentMethod === 'paypal' ? 'btn-primary' : 'btn-secundary'">
                    <div>
                        <i class="fa-brands fa-paypal"></i>
                        <span>PayPal</span>
                    </div>
                </a>
                <a (click)="onPaymentMethodChange('Stripe-pay')" class="btn"
                    [ngClass]="selectedPaymentMethod === 'Stripe-pay' ? 'btn-primary' : 'btn-secundary'">
                    <div>
                        <i class="fa-brands fa-stripe"></i>
                        <span>Stripe Pay</span>
                    </div>
                </a>
            </div>

            <!-- Sección para mostrar el módulo correspondiente -->
            <div class="payment-module" *ngIf="selectedPaymentMethod && currentPrice">
                <div *ngIf="selectedPaymentMethod === 'cash'" class="payment-option">
                    <p>Pago en Efectivo</p>
                    <app-efectivo [price]="currentPrice" (save)="onPayNow($event)"></app-efectivo>
                </div>

                <div *ngIf="selectedPaymentMethod === 'paypal'" class="payment-option">
                    <p>Pago con PayPal</p>
                    <app-paypal [price]="currentPrice" ></app-paypal>
                </div>

                <div *ngIf="selectedPaymentMethod === 'Stripe-pay'" class="payment-option">
                    <p>Pago con Stripe Checkout</p>
                    <app-stripe-checkout></app-stripe-checkout>
                </div>
            </div>
        </div>
    </div>
</div>