<div class="full-page-center">
    <form action="" class="modal" data-aos="fade-up">
        <h1>Vea</h1>
        <div class="content">
            <div class="text-box">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="usuario">
            </div>
            <div class="text-box">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="contraseña">
                <a class="btn-password">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
            <a class="btn btn-primary" href="/home">
                <div><i class="fa-solid fa-right-to-bracket"></i><span>Iniciar</span></div>
            </a>
        </div>
    </form>

    <div class="text" data-aos="fade-up">
        <a href="auth/recover">¿Olvidaste tu contraseña?</a>
        <p>Eres nuevo <a href="auth/singup">Nuevo usuario</a></p>
    </div>
</div>