@use "../../../../assets/styles/base/variables" as *;
@use "../../../../assets/styles/base/mixins" as *;

.modal {
    padding: $mb-2;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: $mb-0-5;
    gap: $mb-0-5;
}

.text {
    width: 100%;
    margin-top: $mb-1;
    text-align: center;
    p {
        color: $black;
        margin-top: $mb-0-25;
    }

    a {
        position: relative;
        outline: none;
        color: $gray;
        transition: $ani-hover;
        &:hover{
            color: $black;
        }
    }
}