<form [formGroup]="loginForm" class="modal" data-aos="fade-up">
    <h1>Inicio de sesión</h1>
    <div class="content">
        <div class="input">
            <span>Correo Electronico</span>
            <div class="text-box">
                <i class="fa-solid fa-envelope"></i>
                <input formControlName="email" type="text" placeholder="usuario">
            </div>
        </div>
        <div class="input">
            <span>Contraseña</span>
            <div class="text-box">
                <i class="fa-solid fa-lock"></i>
                <input formControlName="password" type="password" placeholder="contraseña">
                <a class="btn-password" appTogglePassword>
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="msg">
            @if (loginForm.invalid && loginForm.touched) {
            @for (error of formErrors; track error) {
            <span class="error">{{ error }}</span>
            }
            }
        </div>
    </div>
    <div class="form-buttons">
        <a class="btn btn-primary"(click)="login()">
            <div><i class="fa-solid fa-right-to-bracket"></i><span>Iniciar</span></div>
        </a>
    </div>
</form>
<div class="text" data-aos="fade-up">
    <a href="auth/recover">¿Olvidaste tu contraseña?</a>
    <p>Eres nuevo,<a href="auth/register">Nuevo usuario</a></p>
</div>