<div>
    <!-- Descripción del pedido -->
    <div class="">
        <div class="order-detail-header">
            <p></p>
            <p></p>
            <p></p>
        </div>

        <div class="order-detail-body">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <!-- Servicios-->
    <div>
        <div class="service-header">
            <p></p>
            <p></p>
            <p></p>
        </div>

        <div class="service-body">
            <p></p>
            <p></p>
            <p></p>
        </div>

        <p></p>
    </div>


    <!-- final container principal -->
</div>