<footer class="container">
    <div class="footer-grid">
        <div class="main">
            <h1>Veá:</h1>
            <p>Somos el punto de encuentro digital para tus compras de mercado. Calidad, frescura y comodidad en
                cada pedido, directo a tu puerta.</p>
        </div>
        <div>
            <h3>Enlaces</h3>
            <ul>
                <li>
                    <a class="btn btn-black" href="#">Sobre Nosotros</a></li>
                <li><a class="btn btn-black" href="#">Productos</a></li>
                <li><a class="btn btn-black" href="#">Mi Cuenta</a></li>
                <li><a class="btn btn-black" href="#">Contacto</a></li>
            </ul>
        </div>
        <div>
            <h3>Síguenos</h3>
            <div class="social-links">
                <a class="btn btn-white" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-white" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-white" href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <p>Email: <a href="mailto:info@vea.com">infovea.com</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©<span id="currentYear"></span> Veá. Todos los derechos reservados.</p>
    </div>
</footer>