<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

<div class="sidebar-container">
  <button class="hamburger" (click)="toggleMenu()">
    <span class="material-symbols-outlined">{{ isMenuOpen ? 'close' : 'menu' }}</span>
  </button>
  <div class="side-bar" [ngClass]="{'open': isMenuOpen}">
    <!-- Profile + Dashboard -->
    <div>
      <!-- Profile -->
      <div class="profile">
        <span class="material-symbols-outlined user-icon">account_circle</span>
        <div class="user-info">
          <div class="user-name">Eduardo Rodriguez</div>
          <div class="user-username">edu.rodriguez</div>
          <div class="user-id">ID: 123456789</div>
        </div>
      </div>
      <!-- Options -->
      <div class="sections">
        <a [routerLink]="['./metricas']" routerLinkActive="active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">home</span>
          Dashboard
        </a>
      </div>
    </div>

    <!-- Publicaciones -->
    <div>
      <p class="title-section">Publicaciones</p>
      <div class="sections">
        <a [routerLink]="['./order-list']" routerLinkActive="router-link-active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">list_alt</span>
          Pedidos
        </a>
      </div>
      <div class="sections">
        <a [routerLink]="['./post-list']" routerLinkActive="router-link-active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">playlist_add_check</span>
          Lista de Publicaciones
        </a>
      </div>
      <div class="sections">
        <a [routerLink]="['./add-post']" routerLinkActive="router-link-active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">add</span>
          Agregar nueva publicación
        </a>
      </div>
    </div>

    <!-- Ventas -->
    <div>
      <p class="title-section">Ventas</p>
      <div class="sections">
        <a [routerLink]="['./payments-list']" routerLinkActive="router-link-active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">account_balance_wallet</span>
          Pagos
        </a>
      </div>
    </div>

    <!-- Ajustes -->
    <div>
      <p class="title-section">Ajustes</p>
      <div class="sections">
        <a [routerLink]="['./settings']" routerLinkActive="router-link-active" (click)="toggleMenu()">
          <span class="material-symbols-outlined">settings</span>
          General
        </a>
      </div>
    </div>
  </div>
</div><script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'94cbec2e6dce8262',t:'MTc0OTQyMjc1OC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>