@use "../base/variables" as*;
@use "../base/mixins" as*;

.btn {
    width: auto;
    height: 100%;
    cursor: pointer;
    padding: $mb-1;
    outline: none;
    border: none;
    font-size: $normal-font-size;
    border-radius: $rounder-size;
    transition: background-color $ani-hover, color $ani-hover;

    @include flex(row, center, center);

    &:hover {
        div {
            padding: 0 $mb-0-75 0 0;
        }
    }

    div {
        @include flex(row, center, flex-start);
        gap: $mb-0-5;
        border-radius: $rounder-size;
        transition: $ani-hover;
    }
}


.btn-primary {
    color: $browm;
    background-color: $yellow;

    &:hover,
    &.active {
        background-color: $orange;
        color: $white-100;
    }
}

.btn-secundary {
    color: $gray;
    background-color: $white-80;

    &:hover,
    &.active {
        background-color: $white-20;
        color: $white-100;
    }
}

.btn-black {
    background-color: $black-80;
    color: $gray;

    &:hover,
    &.active {
        color: $white-100;
    }
}


.btn-green {
    color: $white-100;
    background-color: $green;

    &:hover,
    &.active {
        color: $white-100;
        background-color: $black;
    }
}


.btn-delete {
    color: $white-80;
    background-color: $white-20;

    &:hover,
    &.active {
        color: $white-100;
        background-color: $red;
    }
}


.btn-blue {
    color: $white-80;
    background-color: $gray;

    &:hover,
    &.active {
        color: $white-100;
        background-color: $blue;
    }
}


.btn-gray {
    color: $gray;

    &:hover,
    &.active {
        background-color: $white-80;
    }
}


.btn-white {
    justify-content: center;
    align-items: center;
    color: $black;
    background-color: $white-100;

    &:hover,
    &.active {
        color: $white-100;
        background-color: $black;
    }
}

