
@use "variables" as*;

h1 {
    font-size: $h1-font-size;
    font-family: $font-1;
}

h2 {
    font-size: $h2-font-size;
    font-family: $font-1;
}

h3 {
    font-size: $h3-font-size;
    font-family: $font-1;
}

p {
    font-size: $normal-font-size;
    font-family: $font-2;
}

ul {
    list-style: none;
}

a,
button {
    font-size: $normal-font-size;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
